<!doctype html>
<html lang="en">
  <head>
    <title>{% block title %}Common Grounds{% endblock %}</title>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              books: '#0897f7',
              events: '#fa7305',
              merch: '#10bc4c',
              diy: '#eab308',
              commissions: '#830bf4',
              home: '#64748b',
            }
          }
        }
      }
    </script>
    <script src="https://cdn.tailwindcss.com"></script>
    {% block styles %}{% endblock %}
  </head>
  <body class="bg-white">
    {% include 'components/nav.html' %}
    <main class="pt-24 max-w-screen-xl mx-auto px-4">
        <h2 class="text-2xl font-semibold mb-4">{% block page_heading %}{% endblock %}</h2>
        <div id="content">{% block content %}{% endblock %}</div>
    </main>
    {% include 'components/footer.html' %}
    {% block scripts %}{% endblock %}
  </body>
</html>
