{% extends 'base.html' %}
{% load static %}
{% block title %}Local Events List{% endblock %}
{% block page_heading %}Local Events List{% endblock %}

{% block content %}
    {% if user.is_authenticated and user.profile.role == 'Event Organizer' %}
        <p><a href="{% url 'localevents:event_add' %}">Create a New Event</a></p>
    {% endif %}

    {% if user.is_authenticated %}
        <h3>Events You Organized</h3>
        <ul>
            {% for event in organized_events %}
                <li><a href="{{ event.get_absolute_url }}">{{ event.title }}</a></li>
            {% empty %}
                <li>You haven't organized any events.</li>
            {% endfor %}
        </ul>

        <h3>Events You Signed Up For</h3>
        <ul>
            {% for event in signed_up_events %}
                <li><a href="{{ event.get_absolute_url }}">{{ event.title }}</a></li>
            {% empty %}
                <li>You haven't signed up for any events.</li>
            {% endfor %}
        </ul>
    {% endif %}

    <h3>All Events</h3>
    <ul>
        {% for event in events %}
            <li><a href="{{ event.get_absolute_url }}">{{ event.title }}</a></li>
        {% empty %}
            <li>No events available.</li>
        {% endfor %}
    </ul>
{% endblock %}
